.up_btn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
  

.up_btn:hover{
    bottom: 0%;
    opacity: 0.75;
    color: #0D6EFD;
    transition: all 0.3s ease-in-out;
}

.up_btn_vis{
    bottom: -2.5%;
    transition: all 0.3s ease-in-out;
}

.up_btn_invis{
    bottom: -30%;
    transition: all 0.3s ease-in-out;
}