.sidebar{
  position: fixed;
  width: 100px;
  top: 80px;
  left: 0;
  bottom: 0;
  transition: 0.3s all ease-in-out;
  z-index: 99;
  background-color: rgb(255 255 255 / 0.3) !important;
  backdrop-filter: blur(10px) !important;
}


.name{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.3s;
}

li{
  white-space: nowrap;
}

.link-dark:hover{
  background-color: #bfd9ff;
  transition: all 0.3s ease-in-out;
}

.link-dark{
  transition: all 0.3s ease-in-out;
}

.sidebar:hover{
  width: 230px;
  transition: 0.5s all ease-in-out;
}

.sidebar:hover .name{
  visibility: visible;
  opacity: 1;
}

.nav-link{
  position: relative;
}

.items-lista{
  text-decoration: none;
}

